body {
  margin: 0;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px;
}
nav img {
  width: 5%;
  height: auto;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
ul li a {
  color: white;
 padding-left: 45px;
}
ul a {
  text-decoration: none;
  color: #fff;
}
ul a:hover {
  text-decoration: underline;
}
/* header section */
header {
  background: url("../images/header-background.jpg") no-repeat center center/cover;
  color: #deefb7;
  height: 600px;
}
.header-content {
  padding: 0 400px;
  align-content: center;
  font-size: 40px;
}
.header-content button {
  margin-left: 100px;
}
.btn {
  background: transparent;
  border: solid 3.5px;
  width: 250px;
  height: 50px;
  padding: 1.2%;
  color: #deefb7;
}
/* attributes section */
.attribute {
  display: flex;
  flex-direction: row;
}
/* collection section */
.collects {
  background-color: grey;
  padding: 3% 5%;
}
.collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.box {
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.box h2, a {
  margin-left: 300px;
  margin-top: 100px;
}
.sofa {
  background: url("../images/sofa.jpg") no-repeat center center/cover;
}
.bed {
  background: url("../images/bed.jpeg") no-repeat center center/cover;
}
.chair {
  background: url("../images/chair-collection.jpg") no-repeat center center/cover;
}
.cabinet {
  background: url("../images/cabinet-collection.jpg") no-repeat center center/cover;
}
.btn-1 {
  background-color: #682D63;
  border: none;
  width: 200px;
  height: 40px;
  margin: 20px 500px;
  color: white;
}
/* features section */
.featured h2 {
  color: #682D63;
  margin-left: 600px;
}
* {
  box-sizing: border-box;
}
/* slideshow container */
.features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/* Advert section */
.advert {
  display: flex;
  flex-direction: row;
  background: linear-gradient(grey 20%, green 60%, grey 20%)
}
.advert-heading {
  margin-left: 250px;
  margin-top: 75px;
}
.boximg img {
  width: 300px;
}
/* Blog section */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  max-height: 500px;
  margin: auto;
  transition: 0.3s;
}
.card img {
  width: 100%;
}
.container {
  padding: 2px 16px;
}
.blog-post {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn-2 {
  border: #682D63;
  width: 100px;
  padding: 4%;
}
.btn-3 {
  border: solid 5px #682D63;
  background: transparent;
  color: #682D63;
  width: 175px;
  margin-left: 200px;
}
/* client feeback section */
.feedback-section {
  background: url("../images/bg-client-feedback.jpg") no-repeat center center/cover;
  color: #DEEFB7;
}
.feedback-section h3 {
  padding: 3% 40%;
  text-decoration-line: underline;
}
.client-feedback {
  display: flex;
  flex-direction: row;
}
.feedback {
  display: flex;
  flex-direction: row;
}
.feedback img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.text {
  width: 450px;
}
.symbols-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.checklist {
  width: 100px;
  height: 100px;
}
/* subscription */
.subscription {
  background-color: #2f4858;
  padding: 3% 35%;
  color: #DEEFB7;
}
/* footer section */
footer {
  background-color: black;
  color: #8f8f8f;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
