body {
  margin: 0;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px;
}
nav img {
  width: 5%;
  height: auto;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
ul li a {
  color: white;
 padding-left: 45px;
}
ul a {
  text-decoration: none;
  color: #fff;
}
ul a:hover {
  text-decoration: underline;
}
/* header section */
header {
  background: url("../images/header-background.jpg") no-repeat center center/cover;
  color: #deefb7;
  height: 600px;
}
.header-content {
  padding: 0 400px;
  align-content: center;
  font-size: 40px;
}
.header-content span {
  color: white;
}
.header-content button {
  margin-left: 100px;
}
.btn {
  background: transparent;
  border: solid 3.5px;
  width: 250px;
  height: 50px;
  padding: 1.2%;
  color: #deefb7;
}
.btn:hover {
  background-color: #deefb7;
  color: white;
  transition: 0.6s;
}
/* attributes section */
.attribute {
  display: flex;
  flex-direction: row;
  padding: 0 200px;
  color: grey;
}
.a-box {
  margin: 20px;
  padding: 20px 55px;
}
.b {
  border-right: solid;
}
.a-box img {
  max-width: 100px;
}
/* collection section */
.collects {
  background-color: grey;
  padding: 3% 5%;
}
.collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.box {
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.left h2, .left a {
  margin: 100px 0 0 300px;
}
.right h2, .right a {
  margin: 100px 0 0 100px;
}
.sofa {
  background-image: linear-gradient(to right bottom, yellow, white);
  position: relative;
}
.bed {
  background-image: linear-gradient(to left bottom, grey, white);
  position: relative;
}
.chair {
  background-image: linear-gradient(to right bottom, pink, white);
  position: relative;
}
.cabinet {
  background-image: linear-gradient(to right bottom, orange, white);
  position: relative;
}
.right-img {
  width: 200px;
  position: absolute;
  transform: translate(375px, 90px);
}
.right-img img {
  width: 100%;
}
.left-img {
  width: 100px;
  position: absolute;
}
.left-img img {
  width: 100%;
}
.btn-1 {
  background-color: #682D63;
  border: none;
  width: 200px;
  height: 40px;
  margin: 20px 500px;
  color: white;
}
.btn-1:hover {
  background: transparent;
  color: #682D63;
  border: solid 1px #682D63;
  transition: 0.6s;
}
/* features section */ /* slideshow container */
.featured h2 {
  color: #682D63;
  margin-left: 600px;
}
.features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 70px 70px;
}
.card-f {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  max-height: 600px;
  margin: auto;
  transition: 0.3s;
}
.card-f img {
  width: 100%;
  height: 400px;
}
.container-f {
  height: 200px;
  padding: 2px 20px;
}
.price {
  font-size: 25px;
  color: #682D63;
}
.over {
  margin-left: 15px;
  text-decoration: line-through;
}
/* Advert section */
.advert {
  display: flex;
  flex-direction: row;
  position: relative;
}
.grey {
  background: grey;
  padding: 75px 0;
}
.green {
  background: green;
  height: 250px;
}
.advert-heading {
  margin-left: 250px;
  margin-top: 20px;
}
.boximg {
  margin-left: 100px;
  position: absolute;
  transform: translate(500px, -60px);
}
.boximg img {
  width: 300px;
}
.block-price {
  background: #682D63;
  color: white;
  padding: 6px;
}
.cancled-price {
  text-decoration: line-through;
}
.advert-heading a {
  font-size: 10px;
}
/* Blog section */
.blog {
  margin-bottom: 60px;
}
.blog h2 {
  color: #682D63;
  margin-left: 650px;
}
.card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  max-width: 550px;
  max-height: 450px;
  margin: auto;
  transition: 0.3s;
  border-bottom-left-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
}
.card img {
  width: 100%;
  height: 300px;
}
.container {
  height: 150px;
  padding: 10px 45px;
}
.blog-post {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 100px;
}
.btn-2 {
  background: transparent;
  border: solid 1.5px #682D63;
  width: 175px;
  margin-top: 10px;
  padding: 1.5%;
}
.btn-3 {
  border: solid 3px #682D63;
  background: transparent;
  color: #682D63;
  width: 225px;
  margin-left: 550px;
  margin-top: 50px;
  padding: 1.5%;
}
.btn-3:hover {
  background: #682D63;
  color: white;
  transition: 0.6s;
}
/* client feeback section */
.feedback-section {
  background: url("../images/bg-client-feedback.jpg") no-repeat center center/cover;
  color: #DEEFB7;
}
.feedback-section h3 {
  margin: 0;
  padding: 35px 515px 5px;
  font-size: 30px;
  color: white;
}
hr {
  border-top: 2px solid #DEEFB7;
  width: 125px;
  margin-top: 0;
}
.client-feedback {
  display: flex;
  flex-direction: row;
  padding: 20px 100px;
}
.feedback {
  display: flex;
  flex-direction: row;
}
.feedback img {
  border-radius: 100%;
  width: 130px;
  height: 130px;
  padding: 1.5%;
  border: 2px solid #DEEFB7;
}
.text {
  width: 450px;
  padding-left: 20px;
  margin-top: 0;
  color: white;
}
.text h4 {
  color: #DEEFB7;
}
.symbols {
  padding: 50px 25px 50px 200px;
}
.grid {
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 125px;
  grid-row-gap: 25px;
  color: #DEEFB7;
}
.checklist img {
  width: 75px;
  height: 75px;
}
.attendees img {
  width: 75px;
  height: 75px;
}
.award img {
  width: 75px;
  height: 75px;
}
.medals img {
  width: 75px;
  height: 75px;
}
.h {
  font-size: 25px;
  margin: 25px 0 5px;
}
.p {
  font-size: 10px;
  margin: 5px 0 25px;
}
/* subscription */
.subscription-out {
  background: #2f4858;
  padding: 10px;
}
.subscription {
  background-color: #2f4858;
  padding: 3% 35%;
  color: #DEEFB7;
  border: solid 0.1px #DEEFB7;
}
.subscription img {
  width: 60px;
  height: 60px;
  margin-left: 140px;
}
.subscription h3 {
  margin: 15px 93px;
}
.subscription p {
  width: 310px;
  margin-top: 4px;
  margin-left: 20px;
}
.email {
  background: transparent;
  border: none;
  border-bottom: 2px solid #DEEFB7;
  width: 350px;
  display: inline;
}
.email::placeholder {
  color: #DEEFB7;
}
.s-img {
  display: inline-block;
  width: 30px;
  hegiht: 30px;
}
.s-img img {
  width: 100%;
  height: 100%;
  margin-left: 0;
}
/* footer section */
footer {
  background-color: black;
  color: #8f8f8f;
  padding: 12px 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.c {
  padding-left: 15px;
}
.c p {
  margin: 5px;
}
.g h4 {
  margin-top: 5px;
}
.end {
  display: flex;
}
